:root {
  font-family: 'Roboto Flex', sans-serif;
  line-height: 1.6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}