@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:ital,wght@0,100..1000;1,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: 'Roboto Flex', sans-serif;
  line-height: 1.6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}